@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
     font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}



/*Nav Bar STYLES*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    position: sticky;
    top: 0;
}

/*Logo*/

.navbar .logo{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo > img {
    margin-left: 10px;
    width: 105px;
    padding-left:16px;
    padding-bottom: 18px;
}


/*Searchbar Styles*/

.searchbar{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    border: 1px solid #d3d3d3;
    width: 545px;
    border-radius: 40px;
    overflow: hidden;

}

.search > input {
    border: none;
    width: 100%;
    height: 40px;
    cursor: text;
    padding-left: 5px;
    outline: none;
    
}

.search > button{
    border: none;
    border-left: 1px solid #d3d3d3;
    width: 64px;
    cursor: pointer;
}

.searchbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}



/*Nav-items Styling*/
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 40px;
}

.nav-items button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    margin-right: 16px;
    width: 98px;
    height:100%;
}

.nav-items a{
    margin-right: 16px;
    width: 40px;
   
}

/*MAIN STYLING*/

.main{
    display: flex;
    height: calc(100vh - 56px);
    overflow: hidden;
}

/*SIDEBAR STYLING*/


.sidebar{
    width: 240px;
    height: 100%;
    background-color:#ffffff;
    gap: 100px;
    overflow-y: scroll;
}

.category{
   width: 100%;
   display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-weight: 400;
    cursor: pointer;
}

.category-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    padding: 0 24px;
    font-weight: 500;
}

.category-section p {
    width: 100%;
    height: 40px;
    padding: 0 24px;
    font-weight: 500;
    padding-top: 10px;
    display: flex;
    align-items: center;
}


.category:hover {
    background: #f2f2f2;
    border-radius: 8px;
}
.category-heading:hover{
    background: #f2f2f2;
    border-radius: 8px;
}
.category i {
    margin-right: 24px;
}
.category img{
    margin-right: 24px;
}

.category-section{
    border-bottom: 0.5px solid #e5e5e5;
    margin-top: 10px;
}

.category-section .category:last-child{
    margin-bottom: 10px;
}

.footer-category{
    padding: 16px 24px 0;
    color: #606060;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 9px;
}

.footer-category span{
    cursor: pointer;
}

.copyright{
    font-size: 12px;
    font-weight: 400;
    color: #909090;
    margin-bottom: 18px;
    padding-top: 10px;
}





/*VIDEOGRID STYLING*/

.videos{
    width: calc(100vw - 240px);
    height: 100%;
    background-color: #ffffff;
    display: flex;
    padding-top: 24px;
}

.videogrid{
    width: 100%;
    display:flex;
    margin: 0 16px;
    flex-wrap: wrap;
    overflow-y: scroll;
   
}


.video{
    width:calc(33% - 8px);
    margin-right: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    
}

.video .thumbnail img{
    width: 95%;
    border-radius: 8px;
    height:225px;
}


.video .details{
    display: flex;
    align-items: center;
    width: 90%;   
}

.video .profile{
    margin-right: 7px;
}



.video .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-info p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.video-info .post-data{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 20px;
}